---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
	min-height: 0;
	padding: 20px 0;
	border-top: 5px solid #5b8c6f;
	border-bottom: 1px solid #5b8c6f;
	background: #222 url(images/world-map-header-100x800-recolored.png) no-repeat left top;
	color: #ccc;
}

header.site-header div.wrapper, #site-navigation div.wrapper,
 	footer.site-footer div.wrapper {
	width: 80%;
	max-width: 80%;
}

@media screen and (max-width: #{$content-width}) {
	header.site-header div.wrapper, #site-navigation div.wrapper,
		footer.site-footer div.wrapper {
		width: auto;
		max-width: 100%;
		padding: 0 15px;
	}
}

	.site-header a:link, .site-header a:visited {
		color: #ddd;
		font-size: 2em;
		text-transform: uppercase;
	}

#site-navigation {
	background-color: #2c2c2c;
}

#site-navigation:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}

	.site-nav a:link, .site-nav a:visited {
		color: #aaa;
		font-size: 1.25em;
		text-transform: lowercase;
		font-variant: small-caps;
	}

	.site-nav a:hover {
		text-decoration: none;
		color: #69d795;
	}

	@media screen and (max-width: $content-width) {
		.site-nav a:link, .site-header a:visited {
			color: #666;
		}

		.site-nav a:hover {
			color: #000;
		}
	}

.site-nav {
	line-height: 50px;
}

a.site-title {
	font: normal 300 26px 'Open Sans Condensed',sans-serif;
	text-transform: uppercase;
	letter-spacing: .1px;
}

	a.site-title:link, a.site-title:visited {
		color: #eee;
	}

	a.site-title:hover {
		text-decoration: none;
		color: #fff;
	}

footer.site-footer {
	background-color: #222;
	color: #eee;
}

	footer.site-footer h2.footer-heading {
		font: normal 300 22px 'Open Sans Condensed',sans-serif;
		text-transform: uppercase;
		letter-spacing: .1px;
	}

	.footer-col-wrapper {
		color: #ccc;
	}

	.site-footer a:link, .site-footer a:visited {
		color: #7bb3ec;
	}

	.site-footer a:hover {
		color: #adcbea;
		text-decoration: none;
	}

/* General Styles */
h2 {
	font-size: 28px;
}

/* Post Lists */
div.post-preview {
	border-bottom: 1px solid #828282;
	margin-bottom: 1.5em;
}

div.post-preview h2.post-title {
	font-size: 28px;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
}

div.post-preview p.post-meta {
	border-bottom: none;
	margin-bottom: .75em;
	padding-bottom: none;
}

/* Posts */
h1.post-title {
	font-size: 38px;
	font-family: 'Noto Serif',serif;
}

p.post-meta {
	border-bottom: 1px solid #828282;
	padding-bottom: .5em;
	margin-bottom: 1.5em;
	font-weight: 300;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-content h2,
h2.post-title {
	font-size: 35px;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: lowercase;
}
