---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
	height: 50px;
	padding: 25px 0;
	border-top: 5px solid #56794a;
	border-bottom: 1px solid #204a40;
	background: #222 url(images/world-map-header-100x800.png) no-repeat left top;
	color: #ccc;
}

@media screen and (min-width: #{$content-width}) {
	header.site-header div.wrapper {
		width: 80%;
		max-width: 80%;
	}
}

	.site-nav a:link, .site-header a:visited {
		color: #aaa;
		font-size: 1.25em;
		text-transform: lowercase;
		font-variant: small-caps;
	}

	.site-nav a:hover {
		text-decoration: none;
		color: #94cf7c;
	}

	@media screen and (max-width: $content-width) {
		.site-nav a:link, .site-header a:visited {
			color: #666;
		}

		.site-nav a:hover {
			color: #000;
		}
	}

.site-nav {
	line-height: 50px;
}

a.site-title {
	font: normal 300 26px 'Open Sans Condensed',sans-serif;
	text-transform: uppercase;
	letter-spacing: .1px;
}

	a.site-title:link, a.site-title:visited {
		color: #eee;
	}

	a.site-title:hover {
		text-decoration: none;
		color: #fff;
	}

/* General Styles */
h2 {
	font-size: 28px;
}

/* Post Lists */
div.post-preview h2.post-title {
	font-size: 28px;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 5px;
	border-top: 1px solid #828282;
}

div.post-preview p.post-meta {
	border-bottom: none;
	margin-bottom: .75em;
	padding-bottom: none;
}

/* Posts */
h1.post-title {
	font-size: 38px;
	font-family: 'Noto Serif',serif;
}

p.post-meta {
	border-bottom: 1px solid #828282;
	padding-bottom: .5em;
	margin-bottom: 1.5em;
	font-weight: 300;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-content h2,
h2.post-title {
	font-size: 35px;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: lowercase;
}
